.modalWrap {
  opacity: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  visibility: hidden;
  transition: all .5s;
}

.modalWrap.active {
  opacity: 1;
  visibility: visible;
}

.modalWrap .modalBox {
  padding: 40px;
  max-width: 600px;
  width: 100%;
  height: 476px;
  background-color: var(--white);
  border-radius: 16px;
}

.modalWrap .modalBox .modalTop {
  display: flex;
  align-items: center;
  gap: 0 16px;
  padding-bottom: 19px;
  border-bottom: 1px solid var(--gray200);
}

.modalWrap .modalBox .modalTop .imgBox {
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  border-radius: 50px;
  overflow: hidden;
}

.modalWrap .modalBox .modalTop .imgBox img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modalWrap .modalBox .modalTop .textBox .name {
  display: block;
  font-size: 20px;
  color: var(--black);
}

.modalWrap .modalBox .modalTop .textBox .date {
  flex-shrink: 0;
  font-size: 14px;
  color: var(--gray400);
}

.modalWrap .modalBox .modalContentBox {
  margin-bottom: 24px;
  padding: 16px 0 0;
  height: 256px;
  overflow-y: auto;
  font-size: 18px;
  color: var(--black);
}

.modalWrap .button {
  width: 120px;
  height: 40px;
  margin: 0 auto;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
}

.modalWrap .textBox {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.modalWrap .textBox .relationship {
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  font-size: 14px;
}

.modalWrap .textBox .purple {
  background-color: var(--purple100);
  color: var(--purple500);
}

.modalWrap .textBox .green {
  background-color: var(--green100);
  color: var(--green500);
}

.modalWrap .textBox .blue {
  background-color: var(--blue100);
  color: var(--blue500);
}

.modalWrap .textBox .beige {
  background-color: var(--beige100);
  color: var(--beige500);
}

@media (max-width: 767px) {

  .modalWrap .modalBox .modalTop .textBox .name {
    font-size: 18px;
  }

  .modalWrap .modalBox .modalContentBox {
    font-size: 16px;
  }

  .modalWrap .modalBox {
    padding: 40px 20px;
    border-radius: 10px;
  }

}